* {
    font-family: Righteous;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-size: 40px 40px;
    background-image: linear-gradient(to right, #eee 1px, transparent 1px),
    linear-gradient(to bottom, #eee 1px, transparent 1px);
}

.canvas {
    height: 100vh;
}
